.projects__categories-list{
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  gap: 29px 40px;
}

.projects__categories-item{
  min-width: 150px;
  text-align: center;
  color: #000;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
  background: #808080;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    background: #ACACAC;
  }
}

.active-category{
  background: #FFFFFF;
  &:hover{
    background: #FFFFFF;
  }
}