@import "../../styles/variables";

.projects__categories-list{
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  gap: 20px;
}

.projects__categories-item{
  min-width: 150px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #CD00FF;
  padding: 10px 20px;
  cursor: pointer;
  transition: $transition;
  &:hover{
    background: $hoverColor;
  }
}

.active-category{
  background: #CD00FF;
  &:hover{
    background: #CD00FF;
  }
}