@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "variables";

body,
html {
  min-height: 100%;
}

body{
  background: $backgroundColor;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: $mainColor;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: $backgroundColor;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: $accentColor;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
}