.main{
  margin: 50px 0;
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-right{
      position: relative;
    }
  }
}

.info-left{
  &__title{
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    span:first-child{
      font-weight: 700;
    }
  }
  &__title:first-child{
    color: #CD00FF;
  }
  &__subtitle{
    width: 370px;
    margin: 15px 0;
    color: #ACACAC;
    font-size: 14px;
    font-weight: 500;
  }
  &__span{
    cursor: pointer;
    color: #ACACAC;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.5s;
    &:hover{
      color: #FFFFFF;
    }
  }
  &__button{
    margin: 30px 0 0 0;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #CD00FF;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
    &:hover{
      background: #CD00FF;
    }
  }
}


.info-right{
  &__circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(225deg, #CD00FF 47.74%, rgba(57, 0, 71, 0.00) 66.8%);
  }
  &__image{
    position: absolute;
    top: 25px;
    left: 25px;
    img{
      object-fit: cover;
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
  }
}