@import "../../styles/variables";

.main{
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 50px 0;
    &-right{
      position: relative;
    }
  }
}

.info-left{
  &__title{
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    span:first-child{
      font-weight: 700;
    }
  }
  &__title:first-child{
    color: #CD00FF;
  }
  &__subtitle{
    width: 370px;
    margin: 15px 0;
    color: #ACACAC;
    font-size: 14px;
    font-weight: 500;
  }
  &__span{
    cursor: pointer;
    color: #ACACAC;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    transition: $transition;
    &:hover{
      color: #FFFFFF;
    }
  }
  &__button{
    margin: 30px 0 0 0;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #CD00FF;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    transition: $transition;
    &:hover{
      background: $hoverColor;
    }
  }
}

.main__info-right{
}

.info-right{
  &__circle{
    position: relative;
    //z-index: 2;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    transform: rotate(45deg);
    border: 10px solid #CD00FF;
  }
  &__image{
    position: absolute;
    top: 25px;
    left: 25px;
    transition: $transition;
    cursor: pointer;
    &:hover{
      top: 0;
      left: 0;
      img{
        width: 350px;
        height: 350px;
      }
      .rotate-block{
        width: 350px;
        height: 350px;
      }
    }
    img{
      transition: $transition;
      object-fit: cover;
      border-radius: 10px;
      width: 300px;
      height: 300px;
    }
    .rotate-block{
      transition: $transition;
      width: 300px;
      height: 300px;
      border-radius: 10px;
      background: #CD00FF;
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      svg{
        transition: 0.5s;
        &:hover{
          fill: $backgroundColor;
        }
      }
    }
  }
}

.rotate{
  transform: rotateY(-180deg);
}