@import "../../styles/variables";

.header{
  padding: 29px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo{
    cursor: pointer;
  }
  &__list{
    display: flex;
    gap: 33px;
    &-item{
      cursor: pointer;
      font-size: 14px;
      font-weight: 900;
      transition: $transition;
      &:hover{
        color: $accentColor;
      }
    }
    &-hashtag{
      color: $accentColor;
    }
  }
}